# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/*.html
api-gateway/target/
shop-common/target/
shop-order/target/
shop-product/target/
shop-user/target/
/.gitignore
